@import 'grid';

$accent-color: #65d091;
$accent-color-dark: #51a774;

body {
  border-top: 5px solid $accent-color;
  #content-wrapper {
    margin: 100px 15% 0px 15%;

    #content {
      font-family: 'Inconsolata', sans-serif;
      font-size: 30px;
      max-width: 1000px;
      margin: auto;

      .row {
        margin-bottom: 100px;
        padding-left: 40px;
        padding-right: 40px;
      }

      #header {
        height: 300px;

        #image {
          img {
            border-radius: 20px;
            max-height: 300px;
          }
        }

        #name {
          margin-top: 140px;
          font-weight: 900;
          text-align: right;
        }

        @media (min-width: 30em) {
        	#image { width: 50.0%; }
        	#name { width: 50.0%; }
        }
      }

      #description {
        font-weight: 400;

        p {
          margin-bottom: 25px;
        }

        a {
          color: $accent-color;
          &:hover {
            color: $accent-color-dark;
          }
        }
      }

      #links {
        font-size: 25px;
        opacity: 0.8;

        &:hover {
          // cursor: pointer;
        }
        .col {
          width: 33.33%;
          text-align: center;
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
