@import 'grid';

$accent-color: #65d091;
$accent-color-dark: #51a774;

$bp-small-to-medium: 425px;
$bp-medium-to-large: 850px;

// Non-responsive CSS
body {
  border-top: 5px solid $accent-color;

  #content-wrapper {
    margin: 0 15% 0px 15%;

    #content {
      font-family: 'Inconsolata', sans-serif;
      max-width: 1000px;
      margin: auto;
      margin-bottom: 100px;

      .section {
        margin-bottom: 100px;
      }

      #header {
        #image img {
          border: 1px solid #444;
        }
        #name {
          font-weight: 900;

          p {
            margin: 0;
          }
        }
      }

      #description {
        font-weight: 400;

        p {
          margin-bottom: 25px;
        }

        a {
          color: $accent-color;

          &:hover {
            color: $accent-color-dark;
          }
        }
      }

      #links {
        opacity: 0.8;
        text-align: center;

        .hidden {
          display: none;
        }
      }
    }
  }
}

// Responsive CSS
body #content-wrapper #content {
  @media (min-width: $bp-medium-to-large + 1px) {
    font-size: 30px;
    margin-top: 100px;

    .size-small:not(.size-large),
    .size-medium:not(.size-large) {
      display: none;
    }
    .row {
      padding-left: 40px;
      padding-right: 40px;
    }

    #header {
      height: 300px;

      #image, #name {
        width: 50.0%;
      }
      #image {
        img {
          border-radius: 20px;
          max-height: 300px;
        }
      }
      #name {
        margin-top: 140px;
        width: 50.0%;
        text-align: right;
      }
    }
    #links {
      font-size: 25px;

      .col {
        width: 33.33%;
      }
    }
  }
  @media (min-width: $bp-small-to-medium + 1px) and (max-width: $bp-medium-to-large) {
    font-size: 25px;
    margin-top: 75px;

    .size-small:not(.size-medium),
    .size-large:not(.size-medium) {
      display: none;
    }
    .row {
      margin-bottom: 20px;
    }

    #header {
      height: 200px;

      #image, #name {
        width: 100.0%;
        text-align: center;
      }
      #image {
        img {
          border-radius: 15px;
          max-height: 200px;
        }
      }
      #name {
        margin-top: 30px;
        text-align: center;
      }
    }
    #links {
      .col {
        width: 50.00%;
      }
    }
  }
  @media (max-width: $bp-small-to-medium) {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0px;

    .size-medium:not(.size-small),
    .size-large:not(.size-small) {
      display: none;
    }
    .row {
      margin-bottom: 20px;
    }

    #header {
      height: 200px;

      #image, #name {
        width: 100.0%;
        text-align: center;
      }
      #image {
        img {
          border-radius: 15px;
          max-height: 200px;
        }
      }
      #name {
        text-align: center;
      }
    }
    #links {
      .col {
        width: 100.00%;
      }
    }
  }
}
