@import "variables";
@import "mixins";

#header {
	background-color: $primary-bg-color;
	height: $header-height;
	display: inline-flex;
	width: 100%;
	#header-box {
		height: 150px;
		margin: auto;
		h1 {
			margin-top: 0;
			text-align: center;
			color: $primary-text-color;
		}
		#links {
			background-color: $primary-text-color;
			border-radius: $links-height / 2;
			min-height: $links-height;
			min-width: 0;
			.link {
				cursor: default;
				display: inline-block;
				padding: 10px 12px;
				margin: 5px 0px;
				svg {
					display: block;
					margin: auto;
					cursor: pointer;
					height: 30px;
					width: 30px;
					path {
						@include transition($project-transition);
						fill: rgba(255, 224, 220, 0.7);
					}
				}
				svg:hover {
					path {
						fill: $primary-border-color;
					}
				}
			}
			.logo-strava, .logo-linkedin, .logo-resume {
				svg {
					padding-top: 1.5px;
					padding-bottom: 1.5px;
				}
			}
			$edge-offset: 20px;
			.logo-resume {
				padding-left: $edge-offset;
			}
			.logo-strava {
				padding-right: $edge-offset;
			}
		}
	}
}

