@import "variables";
@import "mixins";
@import "functions";

body {
	background-color: $primary-bg-color;
}

#projects {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $primary-text-color;

	// TODO: 0px min until card design implementation for mobile
	// Breakpoints for project width
	@media screen and (min-width: 0) and (max-width: $break-sm) {
		$image-width: 300px;
		$project-width: 450px;
		@include set-project-widths($project-width, $image-width, 400px);
		@include project-transforms(-250px, -5px, 30px, -31px, $image-width);
	}

	@media screen and (min-width: $break-sm) and (max-width: $break-md) {
		$image-width: 500px;
		$project-width: 700px;
		@include set-project-widths($project-width, $image-width, 400px);
		@include project-transforms(-200px, -10px, 32px, -49px, $image-width);
	}

	@media screen and (min-width: $break-md) {
		$image-width: 600px;
		$project-width: 700px;
		@include set-project-widths($project-width, $image-width, 400px);
		@include project-transforms(-300px, -50px, 26px, -57px, $image-width);
	}

	// @media screen and (min-width: $break-lg) {
	// 	$image-width: 250px;
	// 	$project-width: 900px;
	// 	@include set-project-widths($project-width, $image-width, 400px);
	// 	@include project-transforms(0, 100px, 92px, -39px, $image-width);
	// }

	.project-outer {
		width: 100%;
	}

	.project {
		border-radius: 10px;
		position: relative;
		margin: 20px auto;
		z-index: 1001;
		background-color: $project-bg-color;
		border: $project-border;
		height: $project-height;
		overflow: hidden;
		.project-content {
			padding: 10px;
			@include transition(all 0.1s ease-in-out);
  			@include content-blur($content-blur);
			position: absolute;
			right: 0;
			height: $project-height;
			text-align: right;
			.project-title {
				h3 {
					margin: 0;
					padding: 0;
					color: $primary-text-color;
				}
			}
			.project-tags {
				padding: 5px;
				.tag {
					display: inline-block;
					border-radius: 7px;
					margin-left: 5px;
					margin-top: 5px;
					padding: $tag-pheight $tag-pwidth $tag-pheight $tag-pwidth;
					color: $primary-border-color;
					&.dark {
						color: $primary-text-color;
					}
					&.bordered {
						border: 1px solid #555;
						padding: 0 5px;
					}
					span {
						font-size: $tag-font-size;
					}
				}
			}
			.project-text {
				p {
					margin: 0;
					padding: 0;
					color: $primary-text-color;
				}
			}
		}
	}

	.project-image {
		position: relative;
		z-index: 1000;
		height: image-height();
		overflow: hidden;
		.image-wrapper {
			//border: 4px solid red;
			height: 2 * $project-height;
			overflow: hidden;
			position: relative;
			border: $project-border;
		}
		.image {
			height: image-height();
			position: absolute;
			bottom: 0;
			right: 0;
			background-size: cover !important;
			background-repeat: no-repeat;
			//background-position: 0px -20px;

			// From CSS Tricks for Image Tinting
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: none;
				transition: all .3s linear;
			}
		}
	}
}


