
@import variables
@import mixins

#projects
	.project
		position: relative
		max-width: $project-width-max
		margin: 20px auto
		background-color: $color-bg-alt
		border: $project-border-width $project-border-style $color-border
		height: $project-height
		.project-content
			position: absolute
			right: 0
			width: 70%
			height: $project-height
			text-align: right

			.project-title
				h3
					margin: 0
					padding: 0
			.project-tags
				padding: 5px
				.tag
					display: inline-block
					border-radius: 7px
					margin-left: 5px
					margin-top: 5px
					padding: $tag-pheight $tag-pwidth $tag-pheight $tag-pwidth
					color: $tag-color-light
					&.dark
						color: $tag-color-dark
					span
						font-size: $tag-font-size
			.project-text
				p
					margin: 0
					padding: 0



.project-image
	position: relative // For z-index
	z-index: 1000 // Push to top
	height: ($project-height - 2 * $project-border-width + 0.5px)
	width: $project-width
	overflow: hidden
	.image-wrapper
		height: 205% //($project-height - 2 * $project-border-width + 0.5px)
		width: 205%
		overflow: hidden
		position: relative
		border: $project-border-width $project-border-style $color-border
		//+transform(translate(0, -$project-height / 3) rotate(-#{$image-divider-rot}deg) translate(0, -$project-height * 2 / 3))
		.image
			height: 50%
			width: 50%
			position: absolute
			bottom: 0
			right: 0
			background-size: cover !important
			background-repeat: no-repeat
			background-position: center center
			//+transform(rotate(#{$image-divider-rot}deg) translate(0, 100%))
			// +transform(translate(0, $project-height * 2 / 3) rotate(#{$image-divider-rot}deg) translate(0, $project-height / 3))
			//background-position: center center; 

.project
	@media screen and (min-width: $screen-sm)
		$image-offset-opened: 10%
		$image-offset-closed: 35%
		@keyframes image-anim
			0%
				+transform(translate(0, -$image-offset-opened) rotate(#{$image-divider-rot}deg) translate(-$image-offset-opened / 4, $image-offset-opened))
			100%
				+transform(translate(0, -$image-offset-closed) rotate(#{$image-divider-rot}deg) translate(-$image-offset-closed / 4, $image-offset-closed))
		@keyframes wrapper-anim
			0%
				+transform(translate(-50%, -50%) translate(-$project-border-width, -$project-border-width) rotate(-#{$image-divider-rot}deg) translate(0, $image-offset-opened))
			100%
				+transform(translate(-50%, -50%) translate(-$project-border-width, -$project-border-width) rotate(-#{$image-divider-rot}deg) translate(0, $image-offset-closed))

		.image-wrapper:hover
			animation-name: wrapper-anim
			animation-duration: 1s
		.image-wrapper:hover .image
			animation-name: image-anim
			animation-duration: 1s

		.image-wrapper
			animation-name: wrapper-anim
			animation-duration: 1s
		.image-wrapper .image
			animation-name: image-anim
			animation-duration: 1s















