
// Fonts
$font-stack: Oswald, sans-serif

// Colors
$color-primary: #333
$color-bg: #666
$color-bg-alt: white
$color-text: white
$color-text-small: #DDD
$color-text-alt: #666
$color-border: #222

// Header
$header-height: 300px

// Projects
$project-height: 300px

// Tags
$tag-color-dark: #444
$tag-color-light: #EEE
$tag-pheight: 1px
$tag-pwidth: 6px
$tag-font-size: 12px