// Color Stack
$primary-bg-color: #5DA4FF;
$primary-text-color: #163966;
$primary-border-color: #FFE0DC;
$project-bg-color: #5DA4FF;

// Media Breaks from Bootstrap
$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

// Fonts
$font-stack: Oswald, sans-serif;

// Header
$header-height: 300px;

// Projects
$project-height: 300px;
$theta: 10;
$project-border-width: 4px;
$project-border: $project-border-width solid $primary-border-color;
$image-divider-offset: 10%;
$project-transition: all 0.2s ease-in-out;

// Tags
$tag-color-dark: #444444;
$tag-color-light: #eeeeee;
$tag-pheight: 1px;
$tag-pwidth: 6px;
$tag-font-size: 12px;
