@import "mixins";
@import "variables";

#footer {
	background-color: $primary-bg-color;

	#footer-text {
		max-width: 700px;
		margin: 30px auto;
		padding: 0 50px;

		p {
			margin: 10px 0;
			line-height: 30px;
			span {
				color: $primary-border-color;
			}
			a {
				@include transition($project-transition);
				color: rgba(255, 224, 220, 0.9);
				text-decoration: none;
				&:hover {
					color: rgba(255, 224, 220, 1.0);
					//text-shadow: #EEE 0 0 5px;
				}
			}
			// &:last-child {
			// 	margin-top: 40px; 
			// 	text-align: center
			// }
			font-size: 30px;
			color: $primary-text-color;
		}
	}

	.email {
		margin: auto;
		width: 100%;
		svg {
			width: 80px;
		}
	}
}
