//- Link mixins
mixin link(emoji, title, link)
  .col
    .size-medium.size-large
      a(href=link)
        i.twa(class="twa-" + emoji)
        p= title
    .size-small
      a(href=link)
        i.twa(class="twa-" + emoji)
        |  #{title}

mixin goodreads()
  +link("books", "Goodreads", "https://www.goodreads.com/user/show/40155956-colin-king")

mixin linkedin()
  +link("briefcase", "LinkedIn", "https://www.linkedin.com/in/colinking1/")

mixin github()
  +link("computer", "GitHub", "https://github.com/colinking")

mixin strava()
  +link("bicyclist", "Strava", "https://www.strava.com/athletes/9159854")

mixin resume()
  +link("page-facing-up", "Resume", "resume")

mixin medium()
  +link("writing-hand", "Medium", "https://medium.com/@colinking")

mixin email()
  +link("email", "Email", "mailto:colin.king.96@gmail.com")

mixin twitter()
  +link("bird", "Twitter", "https://twitter.com/maydayitscolink")
