include _mixins.pug
include _header.pug

block header
	link(rel="canonical", href="https://colinking.co")

	link(href="https://fonts.googleapis.com/css?family=Inconsolata:400,700", rel="stylesheet")
	link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	link(rel="stylesheet",href="public/twemoji-awesome.css")
	link(rel="stylesheet",href="public/main.css")

block content
	.row#content-wrapper
		.row#content
			//- Personal image + name
			.section#header
				.size-medium.size-large
					.row
						.col#image
							img(src="public/google.gif")
						.col#name
							p Colin King
				.size-small
					.row
						.col#image
							img(src="public/google.gif")
						.col#name
							p Colin King
			//- Description
			.section.row#description
				.col
					p
						| I am a Venture Partner at 
						a(href="http://contrarycap.com/") Contrary Capital
						| , where I run the 
						a(href="https://www.umd.edu/") University of Maryland 
						| community. I also founded and run our branding and engineering teams.
					p
						| I was a 
						a(href="http://kpcbfellows.com/") KPCB Engineering Fellow
						|  on the infrastructure team at 
						a(href="https://nextdoor.com/about/") Nextdoor
						| . Before that, I was a SWE intern at Google on 
						a(href="https://cloud.google.com/appengine/training/fts_intro/") App Engine Search
						| . I'll be joining 
						a(href="https://segment.com/blog/categories/engineering/") Segment
						|  full-time this Fall.
					p
						| I founded and taught 
						a(href="http://ter.ps/pccS18") CMSC389L
						| , Practical Cloud Computing with AWS, during 
						a(href="http://ter.ps/cmsc389l") Fall 2017
						|  and 
						a(href="http://ter.ps/pccS18") Spring 2018
						|  at UMD.
					p
						| Currently, I am pursuing a Master's degree in Computer Science at
						| UMD where I focus on security and distributed systems.
			//- External Links
			.section#links
				.size-large
					.row
						+goodreads()
						+linkedin()
						+github()
					.row
						+strava()
						+resume()
						+medium()
					.row
						+email()
						+twitter()
						+keybase()
				.size-medium
					.row
						+goodreads()
						+linkedin()
					.row
						+github()
						+strava()
					.row
						+resume()
						+medium()
					.row
						+email()
						+twitter()
					.row.one
						+keybase()
				.size-small
					.row
						+goodreads()
					.row
						+linkedin()
					.row
						+github()
					.row
						+strava()
					.row
						+resume()
					.row
						+medium()
					.row
						+email()
					.row
						+twitter()
					.row
						+keybase()
