include _mixins.pug
include _header.pug

block header
	link(rel="canonical", href="https://colinking.co")

	link(href="https://fonts.googleapis.com/css?family=Inconsolata:400,700", rel="stylesheet")
	link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	link(rel="stylesheet",href="public/twemoji-awesome.css")
	link(rel="stylesheet",href="public/main.css")

block content
	.row#content-wrapper
		.row#content
			//- Personal image + name
			.section#header
				.size-medium.size-large
					.row
						.col#image
							img(src="public/google.gif")
						.col#name
							p Colin King
				.size-small
					.row
						.col#image
							img(src="public/google.gif")
						.col#name
							p Colin King
			//- Description
			.section.row#description
				.col
					p
						| I'm a Software Engineer at 
						a(href="https://segment.com") Segment
						|  on the 
						a(href="https://segment.com/product/protocols") Protocols
						|  team where I also maintain 
						a(href="https://github.com/segmentio/typewriter") Typewriter
						| .
					p
						| Before that, I was a Venture Partner at 
						a(href="http://contrarycap.com/") Contrary Capital
						| , where I ran the 
						a(href="https://www.umd.edu/") University of Maryland
						|  community. I also founded and run their branding and engineering teams.
					p
						| I was also a 
						a(href="http://kpcbfellows.com/") KPCB Engineering Fellow
						|  on the infrastructure team at 
						a(href="https://nextdoor.com/about/") Nextdoor
						| . Before that, I was a SWE intern at Google on 
						a(href="https://cloud.google.com/appengine/training/fts_intro/") App Engine Search
						| .
					p
						| I founded and taught 
						a(href="http://ter.ps/pccS18") CMSC389L
						| , Practical Cloud Computing with AWS, during the 
						a(href="http://ter.ps/cmsc389l") Fall 2017
						|  and 
						a(href="http://ter.ps/pccS18") Spring 2018
						|  semesters at UMD.
					p
						| I also pursued a Master's degree in Computer Science at
						| UMD where I focused on security and distributed systems.
			//- External Links
			.section#links
				.size-large
					.row
						+goodreads()
						+linkedin()
						+github()
					.row
						+strava()
						+resume()
						+medium()
					.row
						+email()
						+twitter()
						+keybase()
				.size-medium
					.row
						+goodreads()
						+linkedin()
					.row
						+github()
						+strava()
					.row
						+resume()
						+medium()
					.row
						+email()
						+twitter()
					.row.one
						+keybase()
				.size-small
					.row
						+goodreads()
					.row
						+linkedin()
					.row
						+github()
					.row
						+strava()
					.row
						+resume()
					.row
						+medium()
					.row
						+email()
					.row
						+twitter()
					.row
						+keybase()
