include _mixins.pug
include _header.pug

block header
	link(rel="canonical", href="https://colinking.co")

	link(href="https://fonts.googleapis.com/css?family=Inconsolata:400,700", rel="stylesheet")
	link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	link(rel="stylesheet",href="public/twemoji-awesome.css")
	link(rel="stylesheet",href="public/main.css")

block content
	.row#content-wrapper
		.row#content
			//- Personal image + name
			.section#header
				.size-medium.size-large
					.row
						.col#image
							img(src="public/colinking.jpg")
						.col#name
							p Colin King
				.size-small
					.row
						.col#image
							img(src="public/colinking.jpg")
						.col#name
							p Colin King
			//- Description
			.section.row#description
				.col
					p
						| I am a Venture Partner at 
						a(href="http://contrarycap.com/") Contrary Capital
						| , where I run the University of Maryland community.
					p
						| I was a 
						a(href="http://kpcbfellows.com/") KPCB Engineering Fellow
						|  on the infrastructure team at 
						a(href="https://nextdoor.com/about/") Nextdoor
						| . Previously an intern at Google on 
						a(href="https://cloud.google.com/appengine/training/fts_intro/") App Engine Search
						| .
					p
						| I currently teach 
						a(href="http://ter.ps/cmsc389L") CMSC389L
						| , Practical Cloud Computing with AWS, during Fall 2017 at UMD.
					p
						| Currently, I am pursuing a master's degree in Computer Science at
						| UMD where I will be conducting cybersecurity research.
			//- External Links
			.section#links
				.size-large
					.row
						+goodreads()
						+linkedin()
						+github()
					.row
						+strava()
						+resume()
						+medium()
				.size-medium
					.row
						+goodreads()
						+linkedin()
					.row
						+github()
						+strava()
					.row
						+resume()
						+medium()
				.size-small
					.row
						+goodreads()
					.row
						+linkedin()
					.row
						+github()
					.row
						+strava()
					.row
						+resume()
					.row
						+medium()
