include _header.pug

block header
  link(rel="canonical", href="https://colinking.co/offlineeducation")
  meta(http-equiv="refresh", content="0;url=https://devpost.com/software/pencils-of-promise-mobile-education-hub")
    
  script.
    window.location = "https://devpost.com/software/pencils-of-promise-mobile-education-hub";

block content
  
  p
    | If you are not redirected automatically, click 
    a(href="https://devpost.com/software/pencils-of-promise-mobile-education-hub") here
    | .
