include _header.pug

block header
  link(rel="canonical", href="https://colinking.co/resume")
  
  link(rel="stylesheet", href="public/resume.css")

block content
  #content
    iframe#resume(src="https://drive.google.com/file/d/0BwpZPtPt9scANW1iYWFKSlRMT0k/preview")
