include _header.pug

block header
  link(rel="canonical", href="https://colinking.co/smartcan")
  meta(http-equiv="refresh", content="0;url=https://devpost.com/software/smartcan")
    
  script.
    window.location = "https://devpost.com/software/smartcan";

block content
  
  p
    | If you are not redirected automatically, click 
    a(href="https://devpost.com/software/smartcan") here
    | .
