include _header.pug

block header
  link(rel="canonical", href="https://colinking.co/smartify")
  meta(http-equiv="refresh", content="0;url=https://devpost.com/software/smartify")
    
  script.
    window.location = "https://devpost.com/software/smartify";

block content
  
  p
    | If you are not redirected automatically, click 
    a(href="https://devpost.com/software/smartify") here
    | .
